:root {
  --borderColor: #e1e1e1;
}

[data-mantine-color-scheme="dark"] {
  --borderColor: #3a4d63;
}

[data-mantine-color-scheme="light"] {
  --borderColor: #e9e0d9;
}

/* Card border styles */
.card-border {
  border-color: var(--borderColor); /* Default border color (light mode) */
}
